In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,r2_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:\\Users\\user\\saurabh sir pandas\\Final Projects\\Disease_symptom_and_patient_profile_dataset.csv")

In [3]:
df=df.sample(2000,replace=True)
df

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
186,Depression,No,No,Yes,No,45,Female,High,High,Positive
276,Coronary Artery Disease,Yes,Yes,No,No,60,Male,High,High,Negative
167,Kidney Disease,Yes,Yes,No,No,45,Male,Normal,High,Negative
235,Pancreatic Cancer,No,No,Yes,No,50,Female,High,High,Positive
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
170,Ovarian Cancer,No,No,Yes,No,45,Male,Normal,Normal,Negative
102,Liver Cancer,Yes,Yes,No,No,38,Female,High,Normal,Negative
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
142,Tuberculosis,Yes,Yes,Yes,Yes,40,Male,High,High,Positive
200,Tetanus,No,No,Yes,No,45,Male,Normal,High,Positive

In [4]:
df.isnull().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 186 to 200
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               2000 non-null   object
 1   Fever                 2000 non-null   object
 2   Cough                 2000 non-null   object
 3   Fatigue               2000 non-null   object
 4   Difficulty Breathing  2000 non-null   object
 5   Age                   2000 non-null   int64
 6   Gender                2000 non-null   object
 7   Blood Pressure        2000 non-null   object
 8   Cholesterol Level     2000 non-null   object
 9   Outcome Variable      2000 non-null   object
dtypes: int64(1), object(9)
memory usage: 171.9+ KB

In [6]:
lr=LabelEncoder()
oe=OrdinalEncoder()

In [7]:
df["Fever"]=lr.fit_transform(df["Fever"])
df["Cough"]=lr.fit_transform(df["Cough"])
df["Fatigue"]=lr.fit_transform(df["Fatigue"])
df["Difficulty Breathing"]=lr.fit_transform(df["Difficulty Breathing"])
df["Gender"]=lr.fit_transform(df["Gender"])
df["Blood Pressure"]=lr.fit_transform(df["Blood Pressure"])
df["Cholesterol Level"]=lr.fit_transform(df["Cholesterol Level"])
df["Outcome Variable"]=lr.fit_transform(df["Outcome Variable"])
# df["Disease"]=lr.fit_transform(df["Disease"])

In [8]:
df

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
186,Depression,0,0,1,0,45,0,0,0,1
276,Coronary Artery Disease,1,1,0,0,60,1,0,0,0
167,Kidney Disease,1,1,0,0,45,1,2,0,0
235,Pancreatic Cancer,0,0,1,0,50,0,0,0,1
0,Influenza,1,0,1,1,19,0,1,2,1
...,...,...,...,...,...,...,...,...,...,...
170,Ovarian Cancer,0,0,1,0,45,1,2,2,0
102,Liver Cancer,1,1,0,0,38,0,0,2,0
345,Stroke,1,0,1,0,85,1,0,0,1
142,Tuberculosis,1,1,1,1,40,1,0,0,1
200,Tetanus,0,0,1,0,45,1,2,0,1

In [9]:
from  sklearn.preprocessing import StandardScaler

In [10]:
sc= StandardScaler()

In [11]:
x=df.drop(columns="Disease")
y=df["Disease"]

In [12]:
x

,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
186,0,0,1,0,45,0,0,0,1
276,1,1,0,0,60,1,0,0,0
167,1,1,0,0,45,1,2,0,0
235,0,0,1,0,50,0,0,0,1
0,1,0,1,1,19,0,1,2,1
...,...,...,...,...,...,...,...,...,...
170,0,0,1,0,45,1,2,2,0
102,1,1,0,0,38,0,0,2,0
345,1,0,1,0,85,1,0,0,1
142,1,1,1,1,40,1,0,0,1
200,0,0,1,0,45,1,2,0,1

In [13]:
x

,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
186,0,0,1,0,45,0,0,0,1
276,1,1,0,0,60,1,0,0,0
167,1,1,0,0,45,1,2,0,0
235,0,0,1,0,50,0,0,0,1
0,1,0,1,1,19,0,1,2,1
...,...,...,...,...,...,...,...,...,...
170,0,0,1,0,45,1,2,2,0
102,1,1,0,0,38,0,0,2,0
345,1,0,1,0,85,1,0,0,1
142,1,1,1,1,40,1,0,0,1
200,0,0,1,0,45,1,2,0,1

In [14]:
y

186                 Depression
276    Coronary Artery Disease
167             Kidney Disease
235          Pancreatic Cancer
0                    Influenza
                ...
170             Ovarian Cancer
102               Liver Cancer
345                     Stroke
142               Tuberculosis
200                    Tetanus
Name: Disease, Length: 2000, dtype: object

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [17]:
rf=RandomForestClassifier(n_estimators=100, random_state=42)

In [18]:
rf.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [19]:
y_pred=rf.predict(x_test)

In [20]:
accuracy_score(y_test,y_pred)

0.8575

In [21]:
df.head(5)

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
186,Depression,0,0,1,0,45,0,0,0,1
276,Coronary Artery Disease,1,1,0,0,60,1,0,0,0
167,Kidney Disease,1,1,0,0,45,1,2,0,0
235,Pancreatic Cancer,0,0,1,0,50,0,0,0,1
0,Influenza,1,0,1,1,19,0,1,2,1

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 186 to 200
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               2000 non-null   object
 1   Fever                 2000 non-null   int32
 2   Cough                 2000 non-null   int32
 3   Fatigue               2000 non-null   int32
 4   Difficulty Breathing  2000 non-null   int32
 5   Age                   2000 non-null   int64
 6   Gender                2000 non-null   int32
 7   Blood Pressure        2000 non-null   int32
 8   Cholesterol Level     2000 non-null   int32
 9   Outcome Variable      2000 non-null   int32
dtypes: int32(8), int64(1), object(1)
memory usage: 109.4+ KB

In [23]:
input=np.array([[int(input("do you have fever?")),
                int(input("do you have cough?")),
                int(input("Are you feeling any Fatigue?")),
                int(input("do you have difficulty in Breathing?")),
                int(input("what is your age?")),
                int(input("what is your gender?")),
                int(input("patient blood pressure ?")),
                int(input("patient cholesterol Level?")),
                int(input("outcome Variable?")),
                ]])
print(rf.predict(input))

do you have fever?0
do you have cough?0
Are you feeling any Fatigue?0
do you have difficulty in Breathing?0
what is your age?19
what is your gender?0
patient blood pressure ?0
patient cholesterol Level?0
outcome Variable?0
['Stroke']